<section id="event" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Fredag</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>Vad</dt>
                    <dd>
                        Beskrivningstext för fredagskväll
                    </dd>
                    <dt>När</dt>
                    <dd>Fredag, 13 Augusti 18:00</dd>
                    <dt>Var</dt>
                    <dd>
                        <address>
                            Lappkåtan utanför Saxnäsgården Hotell & Konferens<br>
                            <a href="https://goo.gl/maps/6Zmyqik63dPbrzou8">Axel Arons väg 4, 910 88 Marsfjäll</a><br>
                            Tel: +46 (0)940-377 00
                        </address>

                    </dd>
                    <dt>Klädsel</dt>
                    <dd>Ledigt. Tänk på att stor del av kvällen kommer spenderas i utomhusmiljö. Möjlighet till bad kommer finnas. </dd>
                    <dt>Logistik</dt>
                    <dd>Text om transport. Please plan responsibly.</dd>
                    <dt>Parkering</dt>
                    <dd>Text om transport. Please plan responsibly.</dd>
                    <dt>Övrig info</dt>
                    <dd>
                        Curabitur mollis, nisi vel tincidunt pretium, dui sem scelerisque nisi, eu blandit mauris 
                        nibh sit amet sem. Aenean in fermentum diam. Morbi eros ligula, hendrerit id laoreet nec,
                         posuere vitae mauris. Sed euismod ullamcorper metus, id varius turpis pretium id. Integer 
                         aliquet nulla quam, eget mattis enim elementum quis. Cras egestas nisl eget molestie 
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>


<section id="saturday-event" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Lördag</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>Celebrate our marriage at a vineyard in classic Niagara style</dd>
                    <dt>When</dt>
                    <dd>Saturday, July 2, at 4:15 pm</dd>
                    <dt>Where</dt>
                    <dd>
                        <address>
                            Lappkåtan utanför Saxnäsgården Hotell & Konferens<br>
                            <a href="https://goo.gl/maps/6Zmyqik63dPbrzou8">Axel Arons väg 4, 910 88 Marsfjäll</a><br>
                            Tel: +46 (0)940-377 00
                        </address>
                    </dd>
                    <dt>Attire</dt>
                    <dd>Cocktail. Be warned: it is a vineyard, there is grass, and your stilettos may sink deep
                        into it.
                    </dd>
                    <dt>Transportation</dt>
                    <dd>There will be three bus pick up options for guests:
                        <ul>
                            <li><a href="https://goo.gl/maps/5gX1Hwb5syx">White Oaks</a>: <strong>3:30pm</strong>
                            <li><a href="https://goo.gl/maps/o8KTZQg51Mt">Hilton Garden Inn</a>: <strong>3:45pm</strong>
                            <li><a href="https://goo.gl/maps/9KcZQProDN12">Fort George</a> (Downtown): <strong>3:45pm</strong>
                        </ul>
                        Buses will be returning to the hotels and downtown throughout the night.

                    </dd>
                    <dt>Parking</dt>
                    <dd>Parking is available on-site at Ravine</dd>
                    {% comment %}
                    <dt>Efteråt</dt>
                    <dd>
                        Curabitur mollis, nisi vel tincidunt pretium, dui sem scelerisque nisi, eu blandit mauris 
                        nibh sit amet sem. Aenean in fermentum diam. Morbi eros ligula, hendrerit id laoreet nec,
                         posuere vitae mauris. Sed euismod ullamcorper metus, id varius turpis pretium id. Integer 
                         aliquet nulla quam, eget mattis enim elementum quis. Cras egestas nisl eget molestie 
                    </dd>
                    {% endcomment %}
                </dl>
            </div>
        </div>
    </div>
{% comment %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Sunday</h2>
                <hr class="primary">
                <p>
                    Curabitur mollis, nisi vel tincidunt pretium, dui sem scelerisque nisi, eu blandit mauris 
                    nibh sit amet sem. Aenean in fermentum diam. Morbi eros ligula, hendrerit id laoreet nec,
                    posuere vitae mauris. Sed euismod ullamcorper metus, id varius turpis pretium id. Integer 
                    aliquet nulla quam, eget mattis enim elementum quis. Cras egestas nisl eget molestie 
                </p>
            </div>
        </div>
    </div>
{% endcomment %}
</section>
